<!DOCTYPE html>
<html ng-app="directiveDemoApp">
<head>
    <title>Directives</title>
    <script src="../../../bower_components/angular/angular.min.js"></script>
    <link href="../../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../../../bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <script>
        angular.module("directiveDemoApp", [])
                .controller("directiveDemoAppCtrl", function ($scope) {
                    $scope.data = {};
                    $scope.todos = [
                        { action: "Get groceries", complete: false },
                        { action: "Call plumber", complete: false },
                        { action: "Buy running shoes", complete: true },
                        { action: "Buy flowers", complete: false },
                        { action: "Call family", complete: false }];
                });
    </script>
</head>
<body>
<div id="todoPanel" class="panel" ng-controller="directiveDemoAppCtrl">
    <h3 class="panel-header">To Do List</h3>
    <div class="well" >
       <!-- ng-repeat directive would generate a set of radio buttons that
        use two-way data bindings to set the value of a model property called data.mode.
        The three values defined by the radio buttons are None,
        Table, and List and use each to represent a layout to display the to-do items.-->
        <div  class="form-control"  ng-repeat="button in ['None', 'Table', 'List']">
                <input type="radio" ng-model="data.mode"
                       value="{{button}}" ng-checked="$first" class=" radio-inline" />
                {{button}}
        </div>
    </div>


    <!--The ng-switch directive is applied with an on attribute that
    specifies the expression that will be evaluated to decide which region
    of content will be displayed-->
    <div ng-switch on="data.mode">

        <!--ng-switch-when directive to denote a region of content that will be associated with
        a specific value-->
        <div ng-switch-when="Table">
            <table class="table">
                <thead>
                <tr><th>#</th><th>Action</th><th>Done</th></tr>
                </thead>
                <tr ng-repeat="item in todos">
                    <td>{{$index + 1}}</td>
                    <td ng-repeat="prop in item">{{prop}}</td>
                </tr>
            </table>
        </div>



        <!--ng-switch-when directive to denote a region of content that will be associated with
              a specific value-->
        <div ng-switch-when="List">
            <ol>
                <li ng-repeat="item in todos">
                    {{item.action}}<span ng-if="item.complete"> (Done)</span>
                </li>
            </ol>
        </div>

        <!--The ng-switch-default directive is used to specify content that
        should be displayed when none of the ng-switch-when sections matches-->
        <div ng-switch-default>
            Select another option to display a layout
        </div>
    </div>

</div>
</body>
</html>